{% extends "base.html" %}
{% block content %}
	<div class="well well-big">
		<table class="table table-hover">
		<tr><th colspan="" rowspan="" headers="" scope="">Book Name</th>
		<th colspan="" rowspan="" headers="" scope="">Author Name</th>
		 </tr>
	{% for book in books_list %}
	

		 <tr>
		 	<td colspan="" rowspan="" headers=""><a href="/books/{{ book.slug }}" title="">{{ book.name }} </a> </td>
		 	<td colspan="" rowspan="" headers="">{{ book.author }}</td>

		 </tr>
	
	
	{% endfor %}
	</table>
	</div>
	
{% endblock  %}