<!DOCTYPE html>
<html>
<head>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
<link href="./../../assets/bootstrap/css/bootstrap.css" rel="stylesheet" />
{% load bootstrap_toolkit %}
</head>
<body>
{% if error %}
    <p class="text-error"> Error: {{ error }}</p>
{% endif %}
<!--
{% block content %}
    {{ form }} <p>Hello World</p>
{% endblock content %}-->
<div class="container">
<p class="text-error"> You have logged out. </p>
<a href="/login/"> <button class="btn btn-primary"> Login back </button> </a>
</div>
</body>
</html>